DB_NAME=retroboard
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
BACKEND_PORT=8081
SQL_LOG=false
SENTRY_URL=
SESSION_SECRET=changeme
TWITTER_KEY=
TWITTER_SECRET=
GOOGLE_KEY=
GOOGLE_SECRET=
GITHUB_KEY=
GITHUB_SECRET=
BASE_URL=http://localhost:3000