 {
     "parser": "babel-eslint",
     "settings": {
         "import/resolver": "webpack"
     },
     "rules": {
         "quotes": [1, "single"],
         "max-len": [1, 120]

     },
     "parserOptions": {
         "ecmaFeatures": {
             "jsx": true,
             "experimentalObjectRestSpread": true
         }
     },
     "env": {
         "jest": true
     }
 }