div.container {
  width: 400px;
}

div.label {
  font-weight: bold;
}

div.description {
  color: #aaa;
  font-size: 0.8rem;
}

input.input {
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid #b2ebf2;
  outline: none;
  width: 100%;
}
