$color-notWell: #F0DAD1 !default;
$color-well: #D8F0D1 !default;
$color-improve: #D1E7F0 !default;
$color-ideas: #FFFFC9 !default;

div.board {

    .column {

        .columnContent {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            .post {
                margin:10px;
                float: left;
                flex: 1 1 auto;
                transition: width 0.7s ease-out;

                &.well {
                    [data-react-toolbox="card"] {
                        background-color: $color-well;
                    }
                }

                &.notWell {
                    [data-react-toolbox="card"] {
                        background-color: $color-notWell;
                    }
                }

                &.improve {
                    [data-react-toolbox="card"] {
                        background-color: $color-improve;
                    }
                }

                &.ideas {
                    [data-react-toolbox="card"] {
                        background-color: $color-ideas;
                    }
                }

            }
        }

    }


}
