$color-notWell: #F0DAD1 !default;
$color-well: #D8F0D1 !default;
$color-improve: #D1E7F0 !default;
$color-ideas: #FFFFC9 !default;

div.board {

    .column {

        .post {
            margin:10px;

            &.well {
                [data-react-toolbox="card"] {
                    background-color: $color-well;
                }
            }

            &.notWell {
                [data-react-toolbox="card"] {
                    background-color: $color-notWell;
                }
            }

            &.improve {
                [data-react-toolbox="card"] {
                    background-color: $color-improve;
                }
            }

            &.ideas {
                [data-react-toolbox="card"] {
                    background-color: $color-ideas;
                }
            }

        }
    }


}
