apiVersion: apps/v1
kind: Deployment
metadata:
  name: rb-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      component: rb-backend
  template:
    metadata:
      labels:
        component: rb-backend
    spec:
      containers:
        - name: rb-backend
          image: antoinejaussoin/retro-board-backend:3.0.0
          ports:
            - containerPort: 3201
              name: backend-port
          livenessProbe:
            httpGet:
              path: /healthz
              port: backend-port
            initialDelaySeconds: 60
            failureThreshold: 1
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /healthz
              port: backend-port
            initialDelaySeconds: 10
            failureThreshold: 1
            periodSeconds: 15
          env:
            - name: BACKEND_PORT
              value: '3201'
            - name: DB_HOST
              value: rb-postgres-cluster-ip-service
            - name: REDIS_ENABLED
              value: 'true'
            - name: REDIS_PORT
              value: '6379'
            - name: REDIS_HOST
              value: rb-redis-cluster-ip-service
            - name: DB_NAME
              value: retroboard
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: retrospected-secrets
                  key: DB_PASSWORD
            - name: DB_PORT
              value: '5432'
            - name: DB_TYPE
              value: postgres
            - name: DB_USER
              value: postgres
            - name: NODE_ENV
              value: production
            - name: SQL_LOG
              value: 'false'
            - name: SENTRY_URL
              value: 'https://1234567890abcdef12345@sentry.io/1234567'
            - name: SESSION_SECRET
              valueFrom:
                secretKeyRef:
                  name: retrospected-secrets
                  key: SESSION_SECRET
            - name: TWITTER_KEY
              value: ''
            - name: TWITTER_SECRET
              valueFrom:
                secretKeyRef:
                  name: retrospected-secrets
                  key: TWITTER_SECRET
            - name: GOOGLE_KEY
              value: ''
            - name: GOOGLE_SECRET
              valueFrom:
                secretKeyRef:
                  name: retrospected-secrets
                  key: GOOGLE_SECRET
            - name: GITHUB_KEY
              value: ''
            - name: GITHUB_SECRET
              valueFrom:
                secretKeyRef:
                  name: retrospected-secrets
                  key: GITHUB_SECRET
            - name: BASE_URL
              value: 'https://www.retrospected.com'
