.join {
    overflow-y: visible !important;
    overflow-x: visible !important;
}

.options {
    display: flex;
    flex-direction: column;
    > div {
        min-width: 200px;
    }
}

.create {
    text-align: center;
    margin: auto;
}