.price-month {
  font-weight: 300;
  font-size: 1em;
}

ul.pricing-feature-list em {
  font-weight: bold;
}

p.lead em {
  font-weight: bold;
}

.crossed-out {
  text-decoration: line-through;
}

.launch-offer {
  margin-bottom: 15px;
}
