

div.board {
    .column {
        .columnContent {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            .post {
                margin:10px;
                float: left;
                flex: 1 1 auto;
                transition: width 0.7s ease-out;

                &.well {
                    [data-react-toolbox="card"] {
                        background-color: $color-well;
                    }
                }

                &.notWell {
                    [data-react-toolbox="card"] {
                        background-color: $color-notWell;
                    }
                }

                &.ideas {
                    [data-react-toolbox="card"] {
                        background-color: $color-ideas;
                    }
                }

                .like {
                    background-color: $color-like;
                    color: white;
                }
                .like.disabled {
                    background-color: $color-like-secondary;
                }

                .dislike {
                    background-color: $color-dislike;
                    color: white;
                }
                .dislike.disabled {
                    background-color: $color-dislike-secondary;
                }
                .deleteButton {
                    background-color: $palette-red-300;
                    color: white;
                }
            }
        }
    }
}
