name: 'Alpha Build'

on:
  push:
    branches: [v490/docs]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Read VERSION
        id: package
        uses: martinbeentjes/npm-get-version-action@master

      - name: Echo VERSION
        run: echo ${{ steps.package.outputs.current-version }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Setup BuildX
        uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Documentation
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          file: docs/Dockerfile
          context: docs
          tags: antoinejaussoin/retro-board-docs:alpha
          platforms: linux/amd64
          push: true

      - name: Build and push Backend
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          file: backend/Dockerfile
          context: .
          tags: antoinejaussoin/retro-board-backend:alpha
          platforms: linux/amd64
          push: true

      - name: Build and push Frontend
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          file: frontend/Dockerfile
          context: .
          tags: antoinejaussoin/retro-board-frontend:alpha
          platforms: linux/amd64
          push: true

      - name: Build and push Maintenance
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          file: maintenance/Dockerfile
          context: maintenance
          tags: antoinejaussoin/maintenance:alpha
          platforms: linux/amd64
          push: true
