name: 'Alpha Build'

on:
  push:
    branches: [v4160/german]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Read VERSION
        id: package
        uses: martinbeentjes/npm-get-version-action@master

      - name: Echo VERSION
        run: echo ${{ steps.package.outputs.current-version }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Setup BuildX
        uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_NEW_USERNAME }}
          password: ${{ secrets.DOCKER_NEW_PASSWORD }}

      - name: Build and push Backend
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          file: backend/Dockerfile
          context: backend
          tags: retrospected/backend:alpha
          platforms: linux/amd64
          push: true

      - name: Build and push Frontend
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          file: frontend/Dockerfile
          context: frontend
          tags: retrospected/frontend:alpha
          platforms: linux/amd64
          push: true
      
      - name: Run Integration Tests
        run: docker-compose -f ./integration/docker-compose.ci.alpha.yml up --exit-code-from cypress

      - name: Trivy - Frontend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: retrospected/frontend:alpha
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL'

      - name: Trivy - Backend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: retrospected/backend:alpha
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL'
      